.add-transaction {
    padding: 20px;
    background-color: rgb(228, 196, 202);
    text-align: center;
}
.add-transaction button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}