.transaction-history {
    padding: 20px;
    background-color: rgb(228, 196, 202);
    text-align: center;
}

.transaction-history ul {
    list-style-type: none;
    padding: 0;
}

.transaction-history li {
    padding: 10px;
    margin: 5px;
    background-color: rgb(228, 196, 202);
    border-radius: 5px;
    position: relative;
}

.transaction-history button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}