.menu {
    background-color: #333;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}
